/* скидання стилів  */

@import url("reset.css");

/* підключення стилів */

@import url("fonts.css");

/* підключення шрифтів */

@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

.wrapper {
    min-height: 100%;
    overflow: clip;
    background-color: #28293e;
}

[class*="__container"] {
    max-width: 1170px;
    margin: 0 auto;
    /* padding-inline: 135px; */
}

.page {
    padding-top: 92px;
    padding-bottom: 176px;
}

.header {}

h1,
h2,
h3,
p,
a,
div {
    font-family: "Epilogue", sans-serif;
}

.footer {}

.portfolio__container {}

.block-margin {
    /* margin-bottom: 50px; */
}

.block {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
    /* Розподіляє айтеми */
}

.block__item {
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    justify-content: flex-end;
    height: 416px;
    flex-grow: 0;
    /* Вимикаємо автоматичне розширення */
    transition: transform 0.3s ease-in-out;
    /* Додаємо плавність */
}

.block__item:hover {
    transform: scale(1.05);
    /* Легке збільшення при наведенні */
}

.block__item:nth-child(1),
.block__item:nth-child(4) {
    background-image: url('/img/sofa.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex: 0 0 470px;
    /* Фіксований розмір без зміни */
}

.block__item:nth-child(2),
.block__item:nth-child(3) {
    background-image: url('/img/key-board.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex: 0 0 670px;
    /* Фіксований розмір без зміни */
}

.block__item:nth-child(3) {
    background-image: url('/img/Illustration.webp');
}

.block__item:nth-child(4) {
    background-image: url('/img/done.webp');
    margin-bottom: 60px;
}

.block-header__ander-title {
    color: #ef6d58;
    text-align: center;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.block-header__title {
    color: #ffffff;
    text-align: center;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1px;
    font-weight: 800;
    margin-bottom: 36px;
}

.block-header__menu-filter {
    text-align: center;
    font-family: "Epilogue-Regular", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    padding-inline: 150px;
    margin-bottom: 68px;
}

.menu-filter-link {
    color: rgba(255, 255, 255, 0.64);
    transition: color 0.3s ease-in-out;
}

.menu-filter-link:hover {
    color: #ef6d58;
}

.__active {
    color: #ffffff;
}

.column img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.block-header__sub-title {
    color: #ffffff;
    font-family: "Epilogue-ExtraBold", sans-serif;
    font-size: 40px;
    line-height: 48px;
    font-weight: 800;
    text-transform: uppercase;
}

.block__item-link {
    background: #ffffff;
    border-radius: 19px;
    color: #391400;
    font-family: "Epilogue-Regular", sans-serif;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    padding-inline: 15px;
    transition: color 0.3s ease-in-out;
}

.block__item-link:hover {
    color: #ef6d58;
}

.block__link {
    border-radius: 6px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.3);
    border-width: 1px;
    color: #ffffff;
    text-align: center;
    font-family: "Epilogue-Black", sans-serif;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    padding-inline: 30px;
    padding-block: 18px;
    margin: 0 auto;
    transition: color 0.3s ease-in-out;
    margin-bottom: 190px;
}

.block__link:hover {
    color: #ef6d58;
    background-color: rgba(255, 255, 255, 0.1);
    /* або інший, якщо хочеш */
    transform: scale(1.05);
}

.text-ander-title-cta {
    text-align: left;
}

.block-header__h3-title {
    color: #391400;
    font-family: "Epilogue-Bold", sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    margin-bottom: 20px;
}

.link-cta {
    background: #ef6d58;
    border-radius: 6px;
    margin-bottom: 0;
}

.block-cta {
    display: flex;
    gap: 65px;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: #FDF0E9;
    padding: 80px 80px 60px 100px;
    margin-bottom: 140px;
}

.block-cta__item {
    flex: 1;
    min-width: 0;
    /* не дає розтягуватись без потреби */
}

.cta-image-wrapper {
    position: relative;
    width: 338px;
    height: 176px;
    padding: 24px;
    background-color: #ffffff;
}

.cta-arrow {
    position: absolute;
    top: 25px;
    right: 25px;
}

.cta-line {
    position: absolute;
    bottom: 25px;
    left: 25px;
    z-index: 1;
}

.cta-line-1 {
    position: absolute;
    bottom: 25px;
    left: 25px;
}

.cta-line-2 {
    position: absolute;
    top: 75px;
    left: 25px;
}

.cta-line-3 {
    position: absolute;
    top: 100px;
    left: 25px;
}

.cta-icon {
    position: relative;
    margin-top: -160px;
}

.cta-women-wrapper {
    position: relative;
}

.cta-image-women {
    position: absolute;
    top: -140px;
    right: 0px;
    z-index: 1;
}

.cta-shadow {
    position: absolute;
    top: 0px;
    right: 0px;
}

.block-events {
    display: flex;
    gap: 30px;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 64px 0px 64px 0px;
    margin-bottom: 0px;
}

.block-events__item {
    flex: 1;
    min-width: 0;
    border-radius: 6px;
    border: solid 1px #3a3c56;
    padding: 40px;
}

.block-center {
    display: flex;
    justify-content: center;
}

.events__time {
    border-bottom: solid 1px #3a3c56;
    padding-bottom: 30px;
    color: #ffffff;
    font-family: "Epilogue-Regular", sans-serif;
    line-height: 32px;
    margin-bottom: 40px;
}

.events__time::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #ef6d58;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

.h3-title-light {
    color: #ffffff;
}

.events__text {
    color: rgba(255, 255, 255, 0.64);
    font-family: "Epilogue-Regular", sans-serif;
    line-height: 32px;
    margin-bottom: 26px;
}

.link-events {
    color: #ffffff;
    font-family: "Epilogue-Regular", sans-serif;
    line-height: 32px;
}

.link-events:hover {
    color: #ef6d58;
    transform: scale(1.05);
}

.events__data-wrapper {
    display: flex;
    gap: 12px;
    align-items: center;
}

.events__data {
    color: #ffffff;
    font-family: "Epilogue-Bold", sans-serif;
    font-size: 24px;
    line-height: 32px;
}

.events__number {
    color: #ffffff;
    font-family: "Epilogue-ExtraBold", sans-serif;
    font-size: 72px;
    line-height: 80px;
    letter-spacing: -2px;
    font-weight: 800;
}

.block-text-left {
    text-align: left;
}

.block-team {
    display: flex;
    gap: 30px;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

.block-team__item {
    flex: 1;
    min-width: 270px;
}

.team__data-wrapper {
    margin-bottom: 26px;
    border: solid 1px #3a3c56;
    border-radius: 6px;
    display: flex;
    justify-content: center;
}

.h3-title-margin {
    margin-bottom: 3px;
}

.slider-arrows {
    display: flex;
    justify-content: end;
    flex-direction: row;
    gap: 16px;
}

.arrow-1,
.arrow-2 {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.3);
    border-width: 1px;
    padding: 18px;
}

.block-margin-arrow {
    margin-bottom: 64px;
}

.slider-pins {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

.pin-1 {
    background: #ef6d58;
    border-radius: 50%;
    width: 12px;
    height: 12px;
}

.pin-2,
.pin-3 {
    border-radius: 50%;
    border-style: solid;
    border-color: #4e4f6e;
    border-width: 1px;
    width: 12px;
    height: 12px;
}

.block-margin-pin {
    margin-bottom: 180px;
}

.block-founder {
    display: flex;
    gap: 0;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 176px;
}

.block-founder__item {
    flex: 1;
    min-width: 0;
}

.block-founder__item:nth-child(2) {
    padding: 40px 0 40px 130px;
    position: relative;
}

.block-font-founder {
    font-size: 40px;
    line-height: 48px;
}

.founder-name {
    color: #ffffff;
    font-family: "Epilogue-Regular", sans-serif;
    font-size: 20px;
    line-height: 32px;
}

.founder-text {
    color: rgba(255, 255, 255, 0.64);
    font-family: "Epilogue-Regular", sans-serif;
    font-size: 14px;
    line-height: 24px;
}

.quote__image {
    position: absolute;
    top: 40px;
    right: 0;
}